<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.baseball.dom.model.vo.Dom" alias="dom"/>
		<typeAlias type="com.kh.baseball.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.baseball.freeBoard.model.vo.FreeBoard" alias="freeBoard"/>
		<typeAlias type="com.kh.baseball.freeBoard.model.vo.FreeBoardFile" alias="freeBoardFile"/>
		<typeAlias type="com.kh.baseball.freeBoard.model.vo.FreeBoardReply" alias="freeBoardReply"/>
		<typeAlias type="com.kh.baseball.player.model.vo.Player" alias="player"/>
		<typeAlias type="com.kh.baseball.notice.model.vo.Notice" alias="notice"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mapper/dom-mapper.xml" />
		<mapper resource="/mapper/member-mapper.xml"/>
		<mapper resource="/mapper/freeBoard-mapper.xml" />
		<mapper resource="/mapper/player-mapper.xml" />
		<mapper resource="/mapper/notice-mapper.xml" />
	</mappers>


</configuration>